/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/* Общие стили для всей страницы */

.page {
  background-color: deepskyblue;
  color: var(--font-color, #000);
  font-family: var(--main-font-family, 'Inter', sans-serif), sans-serif;
  font-variation-settings: "wght" var(--card-text-font-weight, 400);
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.content {
  inline-size: min(100%, 700px);
  margin: 100px auto;
  border: 2px solid var(--decor-elements-color, #000);
}

/* Стили для header */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  line-height: 1;
  font-family: var(--accent-font-family, 'PressStart2P', fantasy), fantasy;
  background: var(--background-color, #fff);
  padding: clamp(120px, 7.1479rem + 1.5023vw, 136px) 0;
}

.header__logo {
  font-size: clamp(49px, 2.7104rem + 1.5023vw, 65px);
  margin-block: 0 20px;
}

.header__title {
  font-size: clamp(14px, 0.6769rem + 0.8451vw, 23px);
  text-transform: uppercase;
}
